@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #070f2b;
  --primary-second: #1b1a55;
  --primary-third: #535c91;
  --primary-dark: #9290c3;
}

body {
  background-color: var(--primary) !important;
  overflow-y: scroll;
  width: 100%;
  min-height: 100vh;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* for lottie overlapping */
svg {
  transform: none !important;
}

pre {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
}
